:root {

}

[data-theme="light"] {

}

$black-color: #000000;
$white-color: #ffffff;
$blue-color: #2774DA;

$dark-900-color: #15161A;
$dark-700-color: #1E1F25;
$dark-600-color: #303241;

$green-color: #18890E;
$red-color: #B91A1A;